.Button {
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 1.0rem;
  color: white;
  padding: 20px 20px;
  background-color: #FC4349;
  cursor: pointer;
  margin: 20px;
}

.Button:hover {
  filter: brightness(120%);
  transition: all 0.2s ease;
}
